// Specific CSS for your home-page

body {
  background: {
     image: asset_url("background_home.jpg");
     size: cover;
     repeat: no-repeat;
  }
}

.background-card{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
  background: {
    color:rgba(255,255,255,0.6);
  }
}

.yield-card{
  top: 0;
  left:0;
}
